@{
    ViewData["Title"] = ViewData["Title"];
    Layout = null;
    var from = ViewBag.urlname;
}



@for (var x = 0; x < 10; x++)
{

    <h1>hello question page:) @from</h1>
}
@foreach (var str in from)
{
    @Html.Raw(str)
    ; <br />
}